:root{
    --my-gray:#1F1F1F;
    --my-bg-grey:#BEBCBB;
    --dark-blue:#161C3B;
    --myblue:#00439C;
    --red-btn:#CD3D0F;
    --blue-btn:#2D64E6;
    --grey-btn:#D9DADC;
}   --white-btn:#ffffff;

#logo{
    height: 40px;
    position: relative;
}
#logo img{
    height: 100%;
    padding: 7px 0;
    position: absolute;
    right: 8px;
    width: 100px;
}
.my-nav{
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    
}

.my-hero{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}
.hero-inner .col img{
    width: 60%;
    padding-top:90px;
}
.col-6 img{
    width: 100%;
    max-width: 100%;
}
#hero-card{
    padding: 30px 0 0 0;

}
.play-5{
    padding-top: 45px ;
}
img{
    max-width: 100%;
    width: 100%;
}
.hero-2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}
.hero-2 img{
    width: 50%;
}
#nuove-uscite{
    background-color: var(--my-gray);
}
#esplora{
    margin: 20px 0;
    padding-bottom: 20px;
}
#plus{
    background-color: var(--my-bg-grey);
    margin: 10px 0;
}
/* #plus img{
    width: 50%;
} */


.my-basis-50{
    flex-basis: 50%;
}
#plus-img{
    width: 50%;
    padding-top: 10px;
}
#ps-now{
    background-color: var(--dark-blue);
}
.ps-now-img{
    width: 60%;
    padding-top: 10px;
    padding-bottom: 30px;
}
@media screen and (max-width:992px){
    .hidden{
        display: none;
    }
    .my-basis-100{
        flex-basis: 100%;
    }
    .my-d-flex-lg{
        display: flex;
        align-items: center;
    }
    .my-basis-50-lg{
        flex-basis: 50%;
    }
    .my-row{
        
    }
    .my-max-container{
        max-width: 700px;
    }
}
@media screen and (max-width:1200px){
    .my-basis-100{
        flex-basis: 100%;
    }
    .my-d-flex-lg{
        display: flex;
        align-items: center;
    }
    .my-basis-50-lg{
        flex-basis: 50%;
    }
    .my-max-container{
        max-width: 700px;
    }
}
@media screen and (max-width:1400px){
    .my-basis-100{
        flex-basis: 100%;
    }
    .my-d-flex-lg{
        display: flex;
        align-items: center;
    }
    .my-basis-50-lg{
        flex-basis: 50%;
    }
    .my-max-container{
        max-width: 700px;
    }
}

footer{
    background-color: var(--myblue);
}

.ps-footer{
    width: 10%;
}
#footer-top svg{
    width: 3%;
}
.my-language{
    
}
.ps-footer-bottom{
    width: 30%;
    padding-bottom: 10px;
}
button{
    padding: 10px 20px;
    border-radius: 30px;
    border: 0;
}
.my-btn-red{
    background-color:var(--red-btn) ;
    color: #fff;
}
.my-btn-grey{
    background-color: var(--grey-btn);
    color: var(--myblue);
}
.my-btn-blue{
    background-color: var(--blue-btn);
    color: #fff;
}
.my-btn-white{
    background-color: var(--grey-btn);
    color: var();
}
.my-btn-blue:hover{
    outline: var(--blue-btn) solid 2px;
    outline-offset: 1px;
}
.my-btn-red:hover{
    outline: var(--red-btn) solid 2px;
    outline-offset: 1px;
}
.my-btn-grey:hover{
    outline: var(--grey-btn) solid 2px;
    outline-offset: 1px;
}
.my-btn-white:hover{
    outline: #fff solid 2px;
    outline-offset: 1px;
}
#footer-top p{
    margin: 0;
    padding-left: 10px;
}



